<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.Implementation.Tracing.DiagnosticsTelemetryModule, Microsoft.ApplicationInsights"/>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry.RemoteDependencyModule, Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry"/>
  </TelemetryModules>
  <InstrumentationKey>c9466e74-f4a4-4db0-9c10-b2741995236e</InstrumentationKey>
  <TelemetryChannel>
    <DataUploadIntervalInSeconds>5</DataUploadIntervalInSeconds>
    <DeveloperMode>true</DeveloperMode>
  </TelemetryChannel>
</ApplicationInsights>